@media screen and (min-width: 768px) and (max-width: 1023px) {
    .img-poc{
        width: 100% !important;
    }
    .icon-reward{
        padding-right: 8px !important;
    }
    
    .colum-reward{
        border-right: 2px solid #000;
        margin-right: 0px !important;
    }
    .nda-gif{
        width: 100% !important;
    }
}

@media screen and (max-width: 767px) {
    .img-poc{
        width: 100% !important;
    }
    .icon-reward{
        padding-right: 8px !important;
    }
    
    .colum-reward{
        border-right: 2px solid #000;
        margin-right: 0px !important;
    }
    .nda-gif{
        width: 100% !important;
    }
    
}

.img-poc{
    width: 70%;
}

.nda-gif{
    width: 50%;
}

.icon-reward{
    padding-right: 20px;
}

.colum-reward{
    border-right: 2px solid #000;
    margin-right: 10px;
}

.div-block{
    min-width: 100% !important;
}

.div-block.btn{
    text-decoration: none;
    color: #333;
    margin-top: 20px;
    transition: all 0.3s;
}

.div-block.btn:hover{
    background-color: #333;
    color: #f6f6f6;
    transition: all 0.3s;
}

.medsos.btn{
    text-decoration: none;
    color: #333;
    font-size: 12px;
    transition: all 0.3s;
    margin: 10px;
    padding: 5px 20px;
}

.medsos.btn:hover{
    background-color: #333;
    color: #f6f6f6;
    transition: all 0.3s;
}

.date-vulnerability{
    color: #4e4e4ea3;
    font-size: 12px;
    float: right;
}

.paragraph{
    padding: 3% !important;
}